<!--Main Navigation-->
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container-fluid">
      <div class="row">
        <!-- Right elements -->
        <div
          class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
          <a class="text-reset me-3" href="/about">
            <i class="fas fa-info-circle" style="font-size: 2em; height: 40px; width: 40px; line-height: 40px; text-align: center;"></i>
          </a>
          <a class="text-reset me-3" href="/social">
            <i class="fas fa-home" style="font-size: 2em; height: 40px; width: 40px; line-height: 40px; text-align: center;"></i>
          </a>

        </div>
        <!-- Right elements -->

        <!-- Center elements -->
        <div class="col-md-2 d-none d-lg-block">
          <a href="/" class="ms-md-2" style="text-decoration: none; color: #000; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.5em; line-height: 40px; font-weight:bolder">
            Bird Dropper
          </a>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 d-flex justify-content-center justify-content-md-end align-items-center">
          <a class="text-reset me-3" href="/settings">
            <i class="fas fa-cog" style="font-size: 2em; height: 40px; width: 40px; line-height: 40px; text-align: center;"></i>
          </a>

          <!-- Notification -->
          <div class="dropdown">
            <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="/notifications" id="navbarDropdownMenuLink" role="button"
              data-mdb-dropdown-init aria-expanded="false">
              <i class="fas fa-bell" style="font-size: 2em; height: 40px; width: 40px; line-height: 40px; text-align: center;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Some news</a></li>
              <li><a class="dropdown-item" href="#">Another news</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>

          <!-- User -->
          <div class="dropdown">
          <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="/profile"
            id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init aria-expanded="false">
            <i class="fas fa-user rounded-circle" style="font-size: 2em; height: 40px; width: 40px; line-height: 40px; text-align: center;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile">My profile</a></li>
            <li><a class="dropdown-item" href="/settings">Settings</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</header>

<style>
  .navbar-dark .nav-item .nav-link {
  color: #000;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

</style>